.parent{
    display: flex;
    background-color: burlywood;
    justify-content: space-evenly;
    align-items: center;
}
.bad{
    font-style: italic;
    font-size: 40px;
    font-family: 'Lucida Sans;
    
    
}
.worst{

}
.parent .bad button {
    background-color: blueviolet;
    padding: 14px;
    

}