body{
    background-color: yellow;
}
.Heading1{
    background-color: blue;
}
.head2{
    color: brown;
    font-size: 60px;
    font-style: unset;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy;
    word-spacing: 45px;
    letter-spacing: 25px;
    text-shadow: 9px 8px 7px green;
    text-align: center;

}
.para{
    font-weight: bolder;
}
.head3{
    font-family: verdana;
}